@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
/*font-family: 'Bungee Inline', sans-serif;*/


html, body {
    height: 100%;
}
body {
    background-color: #000;
    color: #fff;
    display: flex;
    margin: auto;
    align-items: stretch;
}

#root {
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.parent-container {
    top: 0;
}

/*********** Header Styles ******************/
.header {
    display: flex;
    max-height: 220px;
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: #000;
    border-bottom: 1px solid #fff;
}

.header-band, .nav-band {
    display: flex;
    width: 100%;
    text-align: center;
    height: 100%;
    z-index: 100; 
}

.logo-band {
    display: flex;
}

.logo-image {
    text-align: center;
}

.logo-image img {
    max-height: 60px;
}

.name-title {
    margin: auto;
    
}

nav {
    display: flex;
    width: 100%;
    text-align: center;
    margin: auto;
    justify-content: center;
    color: #fff;
    top: 40px;
    left: 0;
    position: absolute;
}

.navItem {
    padding: 5px 20px;
    font-size: 24px;
    color: #fff;
}

.navItem a {
    color: #fff;
    text-decoration: none;
}

/************** Content Element Styles ***************/
.main-band {
    background-color: #000;
    display: block;
}

.main1 {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin:auto;
    width: 100%;
}

.main2 {
    display: flex;
}

.main2a {
    flex: 1;
}

.main2b {
    margin-right: 15%;
}

.main2b img {
    border: 10px #858585 solid;
    border-radius: 50%;
}


.home-title {
    font-size: 100px;
    font-family: 'Bungee Outline', sans-serif;
    color: #858585;
    line-height: 1em;
    text-align: center;
}

/*************** Footer Styles *******************/

.footer-band {
    text-align: center;
}

.footer p {
    text-align: center;
    color: #fff;
}

.footer-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.footer1 {
    width: 50%;
}

.footer2 {
    width: 50%;
}

.icon {
   color: #858585; 
   margin-right: 20px;
   margin-right: 50px;
   text-align: right;
}
